* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

/* ########## HEADER ########## */

#showcase {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  color: #e2e2e2;
  font-size: 50px;
  line-height: 1.2;
}

#showcase p {
  color: #e2e2e2;
  font-size: 20px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #e2e2e2;
  border: solid 1px #e2e2e2;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #407568;
  color: #e2e2e2;
  border-color: #407568;
}

/* ########## SECTION 1 ########## */

#section-a {
  padding: 20px;
  background: #407568;
  color: #e2e2e2;
  text-align: center;
}

/* ########## SECTION 2 ########## */

#section-b {
  padding: 20px;
  background: #e2e2e2;
  color: #303133;
  text-align: center;
}

/* ########## SECTION 3 ########## */

#section-c {
  display: flex;
}

#section-c div {
  padding: 20px;
  text-align: center;
}

#section-c .box-1,
#section-c .box-3 {
  background: #407568;
  color: #e2e2e2;
}

#section-c .box-2 {
  background: #f4f4f4;
  color: #303133;
}